body {
    overflow-y: scroll; /* Prevent scrollbars when video is larger than the viewport */
}

/*.bgv {
    height: 100vh;
    position: relative;
} */
/*.bgv {
    position: fixed;
    top: -4.25cm;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}*/


/*#video-background {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wordsbg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 50px;
}

/*pre {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 500px);
}

.pre img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
}*/

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.card-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}


