{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="report text-center">
            <h1>Banff Package</h1>
            <p>Hotel: {{ report.Hotel }}</p>
            <p>Flights: {{ report.Flights }}</p>
            <p>Activities: {{ report.Activities }}</p>
            <p>Departure Time: {{ report.Departure_Time }}</p>
            <p>Price: ${{ report.Price }}</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
