{% extends 'base.html' %}

{%  block content %}
<div class="bgv mt-n3 position-relative">
    <video id="video-background" autoplay loop>
        <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
    </video>
    <div class="overlay position-absolute top-0 start-0 w-100 h-50 d-flex align-items-center justify-content-center">
        <h1 class="text-white display-5">RECONNECT THE WORLD WITH YOUR TRAVEL</h1>
    </div>

    <div class="fp py-10">
        <div class="container text-center">
            <h2 class="text-secondary">FEATURE PACKAGES</h2>
        </div>
    </div>

    <div class="pre">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 col-md-4">
                    <div class="card border-0">
                        <a href="{{ url_for('iceland') }}">
                        <div class="image-container">
                        <img src="{{ url_for('static', filename='iceland.jpg') }}" class="card-img-top" alt="Image 1">
                        <div class="image-overlay d-flex align-items-center justify-content-center">
                            <h3 class="card-title text-white">ICELAND</h3>
                        </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card border-0">
                        <a href="{{ url_for('greece') }}">
                        <div class="image-container">
                        <img src="{{ url_for('static', filename='greece.jpg') }}" class="card-img-top" alt="Image 2">
                        <div class="image-overlay d-flex align-items-center justify-content-center">
                            <h3 class="card-title text-white">GREECE</h3>
                        </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card border-0">
                        <a href="{{ url_for('banff') }}">
                        <div class="image-container">
                        <img src="{{ url_for('static', filename='banff.jpg') }}" class="card-img-top" alt="Image 3">
                        <div class="image-overlay d-flex align-items-center justify-content-center">
                            <h3 class="card-title text-white">BANFF</h3>
                        </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if search_error %}
        <div class="alert alert-danger" role="alert">
            No results, try customizing travel packages!
        </div>
    {% endif %}
</div>

{% endblock %}
